$primary: #000044;
$secondary: #ffffff;
$background: RGB(220, 220, 220);
$foreground: RGB(250, 250, 250);

* {
	direction: rtl;
}

body {
	background-color: RGB(0, 200, 250);
}

h1{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3.5%;
	size: 5px;
}

h2 {
	color: $secondary;
	text-align: center;
}

input{
	width: 120px;
}

label{
	float: right;
	margin-top: 2%;
	margin-bottom: -0.2%;
	color: $primary;
}

.btn-dark{
	width: 30%;
	text-align: center;
	margin-top: 5%;
}

.btn-outline-info{
	position: fixed;
	text-align: center;
	margin-top: 12%;
	margin-right: -4%;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

a:link {
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active, a:visited {
	font-weight: bold;
	color: white;
}

.DayPicker{
	position: center;
}

.col{
	margin-top: 1%;
}

.list-group-item:hover{
	font-weight: bold;
}

.list-group {
	margin-top: 10%;
	overflow-y: scroll;
	text-align: right;
	content: 'true';
	height: 145px;
	background-color: white;
}

.btn-info{
	margin-left: 40%;
	text-align: center;
}

.modal-header .close {
	margin-left: 0;
}

.modal-title{
	text-align: center;
}

.modal-header{
	text-align: center;
}

.modal-content{
	margin-top: 50%;
}